<% include header %>
<body>
    
    <header class="Header">
        <h1>AGE CALCULATOR</h1>
    </header>
    Date Of Birth:
    <input type="date" id="birth_date" >
    <input class="btn" type="button" value="Calculate Age" id="values">
    <!-- <input type = "text" id="age" value = 0> -->
    <!-- <br><br> -->
    <br>
    <!-- <br>
    <br> -->
    <div id="age">
        
    </div>
    <p id="demo"></p>
    <script src="../public/js/game"></script>
<% include footer%>